# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
packages/db/prisma/*.db
packages/db/generated/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
coverage/
